{% extends "base.html" %}
{% block content %}
    <h2>Shipment List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Driver</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.shipment_id }}</td>
                <td>{{ shipment.origin }}</td>
                <td>{{ shipment.destination }}</td>
                <td>{{ shipment.status }}</td>
{% if shipment.driver %}
  <td>{{ shipment.driver.name }}</td>
{% else %}
  <td> Not Assigned</td>
{% endif %}


                <td>
                   <a href="{% url 'shipment_detail' shipment.pk %}" class="btn btn-info">Details</a>
                    <a href="{% url 'shipment_edit' shipment.pk %}" class="btn btn-warning">Edit</a>
                    <form action="{% url 'shipment_delete' shipment.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'shipments_form' %}" class="btn btn-primary">Add New Shipment</a>
{% endblock %}
