{% extends "base.html" %}

{% block content %}
    <h2>Shipment Details</h2>
    <p><strong>ID:</strong> {{ shipment.shipment_id }}</p>
    <p><strong>Origin:</strong> {{ shipment.origin }}</p>
    <p><strong>Destination:</strong> {{ shipment.destination }}</p>
    <p><strong>Status:</strong> {{ shipment.status }}</p>
{% if shipment.driver %}
  <p><strong>Driver:</strong> {{ shipment.driver.name }}</p>
{% else %}
  <p><strong>Driver:</strong> Not Assigned</p>
{% endif %}
    <a href="{% url 'shipments_list' %}" class="btn btn-primary">Back to List</a>
{% endblock %}
