{% extends 'base.html' %}
{% block content %}
<h1>Drivers</h1>
<table class="table">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Vehicle Number</th>
            <th>Phone</th>
            <th>Available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr>
            <td>{{ driver.name }}</td>
            <td>{{ driver.vehicle_number }}</td>
            <td>{{ driver.phone_number }}</td>
            <td>{{driver.is_available}}</td>
             <td>
                <a href="{% url 'driver_detail' driver.pk %}" class="btn btn-info">Details</a>
                <a href="{% url 'driver_edit' driver.pk %}" class="btn btn-warning">Edit</a>
                <form action="{% url 'driver_delete' driver.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'drivers_create' %}" class="btn btn-primary">Add New Driver</a>
{% endblock %}